.ppcp-button-container {
    text-align: center;
    margin-top: 5px;
}
.ppcp-proceed-to-checkout-button-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    max-width: 450px;
}
.ppcp-proceed-to-checkout-button-separator.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    width: 100%;
}
.ppcp-proceed-to-checkout-button-separator::before,
.ppcp-proceed-to-checkout-button-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 6px;
}
.ppcp-proceed-to-checkout-button-separator span {
    font-weight: 500;
    color: #6c757d;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 0 8px;
    position: relative;
    z-index: 1;
}
.ppcp-order-review .woocommerce-checkout #payment ul.payment_methods {
    display: none;
}
.ppcp_shipping_details,
.ppcp_billing_details {
    margin-bottom: 14px;
    clear: both;
}
.ppcp_edit_billing_address,
.ppcp_edit_shipping_address {
    cursor: pointer;
}
.ppcp_edit_billing_address:hover,
.ppcp_edit_shipping_address:hover {
    text-decoration: none;
    cursor: pointer;
}
.order_review_page_description {
    margin-bottom: 20px;
    clear: both;
}
.button.alt.ppcp_cancel {
    clear: both;
    margin-bottom: 20px;
}
.payments-sdk-contingency-handler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999 !important;
}
.payments-sdk-contingency-handler iframe {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff !important;
    padding: 1em;
    box-sizing: content-box;
    border-radius: 5px;
}
.ppcp_message_home,
.ppcp_message_product,
.ppcp_message_cart,
.ppcp_message_payment,
.ppcp_message_category {
    display: block;
    margin: 15px 0;
    position: relative;
    z-index: 99999;
}
.payment_box.payment_method_wpg_paypal_checkout > p {
    margin-bottom: 20px;
}
.ppcp-button-container fieldset {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 15px 25px;
}
.ppcp-button-container fieldset legend {
    font-weight: 500;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 250px;
    float: none;
}
.ppcp-button-container .express-divider {
    align-items: center;
    background: transparent;
    display: flex;
    font-size: 16px;
    left: 0;
    right: 0;
    top: -13px;
    white-space: nowrap;
    margin-bottom: 25px;
}
.ppcp-button-container .express-divider::before,
.ppcp-button-container .express-divider::after {
    background: #d1d1d1;
    content: " ";
    display: block;
    height: 1px;
    width: 50%;
}
.ppcp-button-container .express-divider::before {
    margin-right: 1rem;
}
.ppcp-button-container .express-divider::after {
    margin-left: 1rem;
}
#express-payment-method-wpg_paypal_checkout_top,
#express-payment-method-ppcp_checkout_top {
    list-style: none !important;
}


#express-payment-method-wpg_paypal_checkout_top #ppcp_checkout_top, #express-payment-method-wpg_paypal_checkout_top .google-pay-container, #express-payment-method-wpg_paypal_checkout_top .apple-pay-container {
    margin: 0 auto;
    max-width: 450px;
    line-height: 0;
    margin-top: 10px;
}

.wc-block-components-radio-control-accordion-content #wc-wpg_paypal_checkout_cc-form {
    max-width: 450px;
}
#wc-wpg_paypal_checkout_cc-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}
#wpg_paypal_checkout_cc-card-number {
    flex: 1 1 100%;
}
#wpg_paypal_checkout_cc-card-expiry,
#wpg_paypal_checkout_cc-card-cvc {
    flex: 1 1 150px;
    flex-grow: 1;
}
#payment ul.payment_methods [class*=payment_method_wpg_paypal_checkout] label img {
    max-height:25px;
    display:inline-block;
    max-width: 100px;
}
#payment .payment_methods li label[for=payment_method_wpg_paypal_checkout_cc] img {
    float:none;
    vertical-align:middle
}
#payment .payment_methods li label[for=payment_method_wpg_paypal_checkout_cc] .ppcp-card-icon {
    max-height:25px
}
.wc-block-components-express-payment__event-buttons {
    padding-bottom: 2px !important;
}



/* Product Page */
#ppcp_product.desktop {
    width: 350px;
    line-height: 0;
    margin-bottom: 10px;
}
.google-pay-container.product.desktop {
    width: 350px;
    text-align: center;
    line-height: 0;
    margin-bottom: 10px;
    outline: none;
}
.apple-pay-container.product.desktop {
    width: 350px;
    text-align: center;
    line-height: 0;
    margin-bottom: 10px;
}
.apple-pay-container.product.desktop apple-pay-button {
    --apple-pay-button-width: 350px;
    --apple-pay-button-height: 48px;
}
.google-pay-container.product.mobile {
    max-width: 450px;
    text-align: center;
    line-height: 0;
    margin: 0 auto 10px;
    width: 100%;
    outline: none;
}
#ppcp_product.mobile {
    max-width: 450px;
    margin: 0 auto 10px;
    line-height: 0;
    width: 100%;
}
.apple-pay-container.product.mobile {
    max-width: 450px;
    text-align: center;
    line-height: 0;
    width: 100%;
    margin: 0 auto 10px;
}
.apple-pay-container.product.mobile apple-pay-button {
    --apple-pay-button-width: 100%;
    --apple-pay-button-height: 48px;
    --apple-pay-button-max-width: 450px;
}
/* Product Page end */

/* Mini Cart Page */
.google-pay-container.mini_cart.desktop {
    max-width: 350px;
    line-height: 0;
    margin: 0 auto 10px;
}
.apple-pay-container.mini_cart.desktop {
    max-width: 350px;
    margin: 0 auto 10px;
    line-height: 0;
}
.apple-pay-container.mini_cart.desktop apple-pay-button {
    --apple-pay-button-max-width: 350px;
    --apple-pay-button-width: 100%;
}
.ppcp-button-container #ppcp_mini_cart {
    max-width: 350px;
    margin: 10px auto 10px;
    line-height: 0;
}
.google-pay-container.mini_cart.mobile {
    max-width: 350px;
    line-height: 0;
    margin: 0 auto 10px;
    width: 100%;
}
.apple-pay-container.mini_cart.mobile {
    max-width: 350px;
    margin: 0 auto 10px;
    line-height: 0;
    width: 100%;
}
.apple-pay-container.mini_cart.mobile apple-pay-button {
    --apple-pay-button-max-width: 350px;
    --apple-pay-button-width: 100%;
}
.woofc-area-bot .ppcp-button-container #ppcp_mini_cart {
    max-width: 420px;
    line-height: 0;
}
.adfy_woofc-inner .ppcp-button-container #ppcp_mini_cart {
    max-width: 100%;
    line-height: 0;
}
/* Mini Cart Page end */
/* Cart Page */
#ppcp_cart.desktop {
    max-width: 450px;
    line-height: 0;
    margin: 0 auto;
}
.google-pay-container.cart.desktop {
    max-width: 450px;
    text-align: center;
    line-height: 0;
    margin: 14px auto 0;
}
.apple-pay-container.cart.desktop {
    max-width: 450px;
    text-align: center;
    margin: 14px auto 0;
    line-height: 0;
}
.apple-pay-container.cart.desktop apple-pay-button {
    --apple-pay-button-height: 48px;
    --apple-pay-button-max-width: 450px;
    --apple-pay-button-width: 100%;
}
.google-pay-container.cart.mobile {
    max-width: 450px;
    text-align: center;
    line-height: 0;
    margin: 0 auto 14px;
    width: 100%;
}
#ppcp_cart.mobile {
    max-width: 450px;
    margin: 0 auto;
    line-height: 0;
    width: 100%;
}
.apple-pay-container.cart.mobile {
    max-width: 450px;
    text-align: center;
    margin: 14px auto 0;
    line-height: 0;
    width: 100%;
}
.apple-pay-container.cart.mobile apple-pay-button {
    --apple-pay-button-width: 100%;
    --apple-pay-button-height: 48px;
}
/* End Cart Page CSS */




/* Express Checkout */
.express_payment_method_ppcp.desktop {
    display: flex;
    justify-content: center; /* Align sections horizontally */
    align-items: center; /* Align items vertically */
    gap: 6px; /* Space between the two sections */
}
.express_payment_method_ppcp.mobile {
    width: 100%;
    margin: 0 auto;
}

#ppcp_checkout_top.desktop {
    display: flex;
    width: 480px;
    line-height: 0;
}
#ppcp_checkout_top.mobile {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 14px;
    line-height: 0;
}

.google-pay-container.express_checkout.mobile {
    max-width: 350px;
    display: flex;
    width: 100%;
    line-height: 0;
    margin: 0 auto 14px;
}
.express_payment_method_ppcp .apple-pay-container.express_checkout.mobile apple-pay-button {
    --apple-pay-button-width: 350px;
}
.express_payment_method_ppcp .apple-pay-container.express_checkout.desktop apple-pay-button {
    --apple-pay-button-width: 240px;
}
#express-payment-method-wpg_paypal_checkout_top .apple-pay-container apple-pay-button {
    --apple-pay-button-max-width: 450px;
    --apple-pay-button-width: 100%;
}

/* End Express Checkout */


/* Checkout Page CSS*/
.ppcp-button-container #ppcp_checkout {
    max-width: 450px;
    margin-bottom: 14px;
    line-height: 0;
}
.google-pay-container.checkout {
    max-width: 450px;
    margin-bottom: 14px;
    line-height: 0;
}
.apple-pay-container.checkout {
    max-width: 450px;
    line-height: 0;
    margin-bottom: 14px;
}
.ppcp_checkout_parent #ppcp_checkout {
    max-width: 450px;
    line-height: 0;
    margin-bottom: 14px;
}
.ppcp_checkout_parent .google-pay-container {
    max-width: 450px;
    line-height: 0;
    margin-bottom: 14px;
}
.ppcp_checkout_parent .apple-pay-container {
    max-width: 450px;
    line-height: 0;
    margin-bottom: 14px;
}
.ppcp_checkout_parent .apple-pay-container apple-pay-button {
    --apple-pay-button-height: 48px;
    --apple-pay-button-max-width: 450px;
    --apple-pay-button-width: 100%;
}
.apple-pay-container.checkout apple-pay-button {
    --apple-pay-button-width: 100%;
    --apple-pay-button-height: 48px;
    --apple-pay-button-max-width: 450px;
}
/* END Checkout Page CSS */





@media screen and (max-width: 472px) {
    #payment .payment_methods li label[for=payment_method_wpg_paypal_checkout_cc] img {
        display: none;
    }
}
@media screen and (max-width: 452px) {
    #radio-control-wc-payment-method-options-wpg_paypal_checkout_cc__label img {
        display:none;
    }
}


.entry-content ul.wc-block-components-express-payment__event-buttons, #left-area ul.wc-block-components-express-payment__event-buttons {
    padding: 0;
}

apple-pay-button {
    --apple-pay-button-height: 40px;
    --apple-pay-button-border-radius: 4px;
    --apple-pay-button-padding: 0px 0px;
    --apple-pay-button-box-sizing: border-box;
    --apple-pay-button-width: 100%;
}